@font-face {
    font-family: 'UbuntuL';
    src: local('Polices/Ubuntu-L.ttf');
}

body, html {
    
    font-family: "UbuntuL", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

*{
    margin: 0;
    padding: 0;
}



.partie1{



padding:20vh;
margin: 1vh auto 1vh auto;

}

#Nokia{
    height: 60%;

}



#bloc1{
    border-bottom-left-radius : 20px;
    border-bottom-right-radius : 20px;
    display: flex;
    background-color: #fe4c2e;
    flex-direction: row;
    color : rgb(255, 255, 255);
    font-size: 4vh;
    align-items: center;
    justify-content: center;



    width: 100%;
    height: 100vh;


}
#bloc2{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 80vh;

    margin: 10vh auto 10vh auto;
}

#bloc3{
    border-top-left-radius : 20px;
    border-top-right-radius : 20px;
    background-color: green;
    width: 100%;
    height: 100vh;
}

.Element{
    height:120px;
    width: 200px;
    text-align: center;
    padding:20px;
    margin:20px;
}


#great:nth-child(1){

    align-self: center;
    margin-bottom: 50vh;
    font-size: 50px;
    
}


#case{
    

    flex-direction: row;
    display: flex;
}




#t1{
    background-color: orange;
}
#t2{
    background-color: blue;
}
#t3{
    background-color: red;
}










